.selected-entity{
    background-color: darkgray !important;
    color: red;
  }
  
  .selected-entity .ag-cell .ag-cell-wrapper .ag-selection-checkbox .ag-icon-checkbox-checked {
        pointer-events: none;
        color: black !important;
        border: 1px solid red !important;
  }